# Insert the following snippet into your project .npmrc

@ds-prd-repo-react:registry=https://us-east1-npm.pkg.dev/embdigital-agnostic-ds-prd/ds-prd-repo-react/
//us-east1-npm.pkg.dev/embdigital-agnostic-ds-prd/ds-prd-repo-react/:always-auth=true

